@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

h1, h2, h3, p, li {
  font-family: "Heebo", sans-serif;
}

#main-container {
  width: 80%;
  margin: 0 auto;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

a:hover {
  font-size: 105%;
  color: rgb(74, 74, 74);
  text-decoration: underline;
}
